{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="mt-3">
        <h3 class="border-bottom my-5">Olimpiada Michoacana de Matemáticas<small> | Confirmación de cuenta</small></h3>

        <h4>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</h4>
        {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
        {% endif %}
        <hr>

        <h4>Apartir del 23 de marzo se habilitará el acceso para inciar sesión dentro de la Olimpiada Michoacana de Matemáticas</h4>

{#        <a href="{{ path("coordinador_index") }}" class="mt-5 btn btn-primary active" role="button" aria-pressed="true">Inciar sesión</a>#}
    </div>

{% endblock fos_user_content %}

